- var games = site.data.about.game
if games
    .author-content
        each game, index in games
            style.
                .game-#{index}::after {
                    box-shadow: #{game.box_shadow} !important;
                }
            .author-content-item.game(class=`game-${index}`, style=`background: url(${game.img}) no-repeat top; background-size: cover;`)
                .card-content
                    .author-content-item-tips= game.title
                    span.author-content-item-title= game.subtitle
                    .content-bottom
                        if game.icon_group
                            .icon-group
                                each icon in game.icon_group
                                    i(style=`background-image: url(${icon})`)
                        else if game.tips_left
                            .tips= game.tips_left
                        if game.tips_right
                            .tips= game.tip/s_right

